*{margin: 0;padding: 0;}
/* 头部 */
#header{
	margin: 0 auto;
	width: 1920px;
	height: 720px;
	background-image: url(images/banner.jpg);
	background-repeat:no-repeat;
	background-size: 1920px 720px;
}
/* 导航 */
#header .nva ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 300px;
}
#header .nva ul li{
	float: left;
	width: 130px;
	list-style: none;
	text-align: center;
	margin-top: 650px;
}
#header .nva ul li a{
	color: aliceblue;
	text-decoration: none;
	font-size: 12px;
	padding-bottom: 3px;
}
#header .nva ul li a:hover{
	border-bottom: 1px solid white;
	font-size: 30px;
}
/* 导航结束 */
/* 个人资料 */
/* 个人介绍标题 */
#Personal{
	width: 1920px;
	height: 910px;
	margin: 0 auto;
	background: #3d60fa;
	position: relative;
	color: #F0F8FF;
}
#Personal .title .title1{
	text-align: center;
	font-size: 15px;
	padding: 20px;
	padding-top: 30px;
}
#Personal .title .title1 h1{
	text-align: center;
}
#Personal .title p.fltitle{
	float: left;
	font-size: 20px;
	line-height: 100px;
}
#Personal .title p.fltitle span{
	font-size: 13px;
}
#Personal .title p.frtitle{
	font-size: 20px;
	line-height: 100px;
}
#Personal .title p.frtitle span{
	font-size: 13px;
	font-weight: 300;
}
#Personal .title .aa{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 300px;
}
/* 个人标题结束 */
/* 个人介绍 */
#Personal .qq{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 300px;
}
#Personal .logo img{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin-top: 10px;
}
#Personal .my .my1{
	width: 500px;
	border-left: 2px solid white;
	border-right: 2px solid white;
	margin-top: 30px;
	padding: 0 60px;
}
#Personal .my .my1 h2{
	text-align: center;
	line-height: 60px;
}
#Personal .my .my1 p{
	line-height: 40px;
}
#Personal .car{
	margin-top: 20px;
}
#Personal .car ul li{
	list-style: none;
	line-height: 40px;
}
/* 个人介绍结束 */
/* 技能介绍 */
#Personal .skill p{
	font-size: 20px;
	line-height: 100px;
	margin: 0 300px;
	margin-top: 50px;
}
#Personal .skill ul.q{
	float: left;
	margin-left: 300px;
}
#Personal .skill .skilltext ul.a{
	float: left;
}
#Personal .skill1 ul li{
	font-size: 25px;
	line-height: 45px;
	list-style: none;
}
#Personal .skill1 ul li span.hh{
	background: black;
	display: inline-block;
	width: 450px;
	height: 15px;
	margin-left: 20px;
	position: relative;
}
#Personal .skill1 ul li span.hh span.hh1{
	display: inline-block;
	width: 320px;
	height: 15px;
     background-image: linear-gradient(to right,#2968c6, #1bdcca);
	 position: absolute;
}
#Personal .skill1 ul li span.hh span.hh2{
	display: inline-block;
	width: 180px;
	height: 15px;
	 background-image: linear-gradient(to right,#fd5930, #ffdb6f);
	 position: absolute;
}
#Personal .skill1 ul li span.hh span.hh3{
	display: inline-block;
	width: 400px;
	height: 15px;
	 background-image: linear-gradient(to right,#fd5930, #ffdb6f);
	 position: absolute;
}
#Personal .skill1 ul li span.hh span.hh3{
	display: inline-block;
	width: 400px;
	height: 15px;
	 background-image: linear-gradient(to right,#7919f7, #ea1ae0);
	 position: absolute;
}
#Personal .skill1 ul li span.hh span.hh4{
	display: inline-block;
	width: 280px;
	height: 15px;
	 background-image: linear-gradient(to right,#781af7, #7a6afd);
	 position: absolute;
}
#Personal .skill1 ul li span.hh span.hh5{
	display: inline-block;
	width: 280px;
	height: 15px;
	 background-image: linear-gradient(to right,#3cae09, #e8ef25);
	 position: absolute;
}
#Personal .skill .skill1 .skillimg{
	float: right;
	margin-right: 300px;
}
/* 技能介绍结束 */
/* 个人资料介绍 */
/* 作品集 */
#Portfolio{
	width: 1920px;
	margin: 0 auto;
	background-color: #fa3d58;
	height: 970px;
}
#Portfolio .title2{
	text-align: center;
	font-size: 15px;
	padding-top: 40px;
}
/* 作品集banner */
#Portfolio .banner h3{
	font-size: 20px;
	line-height: 100px;
	margin: 0 300px;
}
#Portfolio .banner .qq img{
	width: 400px;
	transition: all 0.6s;
}
#Portfolio .banner .qq img:hover{
	transform: scale(1.1);
}
#Portfolio .banner .qq{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;
	margin: 0 300px;
}
#Portfolio .banner .qq p{
	line-height: 50px;
}
/* 作品集banner结束 */
/* 作品集ai */
#Portfolio .AI h3{
	font-size: 20px;
	margin-left: 300px;
	line-height: 100px;
}
#Portfolio .AI img{
	width: 280px;
	height: 240px;
	transition: all 0.8s;
}
#Portfolio .AI img:hover{
	transform: scale(1.1);
}
#Portfolio .AI .aa{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 300px;
}
/* 作品集ai */
/* 作品集结束 */

/* 尾页 */
#food{
	width: 100%;
	height: 50px;
	background: black;
	text-align: center;
}
#food p{
	color: #F0F8FF;
	line-height: 50px;
}